/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap");

.radley-regular {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;
}

.radley-regular-italic {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  --color-1: #f2f2f2;
  --color-2: #3f200b;

  /* font: [style] [weight] [size]/[line-height] [family]; */
  --h1: normal normal 8.8rem/8.8rem "Radley", serif;
  --h1-bold: normal bold 8.8rem/8.8rem "Radley", serif;
  --h2: normal normal 6.8rem/6.8rem "Radley", serif;
  --h2-bold: 1.8rem;
  --h3: normal normal 2.2rem/2.2rem "Radley", serif;
  --h3-bold: 1.8rem;
  --h4: 1.8rem;
  --h4-bold: 1.8rem;
  --h5: 1.8rem;
  --h5-bold: 1.8rem;
  --h6: 1.8rem;
  --h6-bold: 1.8rem;
  --h7: 1.8rem;
  --h7-bold: 1.8rem;
  --h8: 1.8rem;
  --h8-bold: 1.8rem;
  --p1: 1.8rem;
  --p1-bold: 1.8rem;
  --p2: 1.8rem;
  --p2-bold: 1.8rem;
}

@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-1);
}

body {
  min-height: 100%;
  background-color: #2e2d2d;
  padding-bottom: 2800px;
}

button,
fieldset,
a {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  /* background-image: url("/fallback-avatar.png"); */
  background-size: cover;
  background-position: center;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

/* TITLE */

.title {
  --stroke: 1px var(--color-1);
  --spacing: 1px;
  width: fit-content;
  max-width: 556px;
  margin: 0 auto;
  padding: 20px 0;
  font: var(--h1);
}

.title_first {
  position: relative;
  font: var(--h2);
}

.title_second {
  position: relative;
  font: var(--h1);
}

.title_first::after,
.title_second::after {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  transform: scaleY(-0.5);
  opacity: 0.1;
  background: linear-gradient(to bottom, var(--color-1), transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 1;
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
  /* PER CREARE EFFETTO A STRISCE */
  /* --gradient: repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
    linear-gradient(transparent 50%, white 90%);
  -webkit-mask-image: var(--gradient);
  mask-image: var(--gradient); */
}

.title_first::after {
  content: "the";
}

.title_second::after {
  content: "TIME";
}

.title_third {
  font: var(--h1);
  -webkit-text-stroke: var(--stroke);
  text-stroke: var(--stroke);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.title h2 {
  position: relative;
  width: 80%;
  padding-top: 16px;
  font: var(--h3);
  text-align: right;
  transform: translateX(43%);
}

.title h2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  opacity: 0;
  background: linear-gradient(to right, var(--color-1) 45%, transparent 100%);
  animation: timelineIn 0.35s ease-in 0.35s forwards;
}

@keyframes timelineIn {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

main {
  display: grid;
  grid-template-columns: minmax(100px, 100px) 1fr;
}

.timeline_line {
  width: 4px;
  height: 100%;
  margin: 0 auto;
  background: repeating-linear-gradient(to bottom, #69d2e7 0px, #69d2e7 10px, transparent 10px, transparent 20px);
  border-radius: 2px;
}

/* STICKY CONTENT */

.sticky_content {
  position: relative;
  display: grid;
  grid-template-columns: minmax(200px, 200px) 1fr;
  gap: 50px;
  /* border: 5px dashed red; */
  padding: 50px;
}

.sticky_content p {
  font-size: 2rem;
}

.sticky_content_left h2 {
  position: sticky;
  top: 50px;
}
